		<div id='menu'>
		<ul>
			<li {% if active == "home" %} class='active' {% endif %}><a href='/'><span>Home</span></a></li>
		   <li {% if active == "sentiment" %} class='active' {% endif %}><a href='/sentiment'><span>Sentiment Analysis</span></a>
		      <!-- <ul>
		         <li class='has-sub'><a href='/featureselector'><span>Sample</span></a></li>
		         <li class='has-sub'><a href='/featureselectorcustom'><span>Custom</span></a></li>
		         <li class='has-sub'><a href='/featureselectorexplain'><span>Explanation</span></a></li>
		      </ul> -->
		   </li>
		</ul>
		</div>
		<div id='wrap'>
			<div id='content'>