			<div id='sidebar'>
				<p style="text-align:center;">
					<img border="0" alt="Dennis_Timmers" src="img/dennis_timmers.png">
					</br>
					</br>
					<a href="http://ca.linkedin.com/in/dtimmers" target="_blank">
						<img src="img/linkedin_follow.png" border="0" alt="View Dennis Timmers's profile on LinkedIn">
					</a>
					</br>
					<a href="https://www.github.com/dtimmers" target="_blank">
						 <img border="0" alt="Dennis_Timmers" src="img/follow_git.png">
					</a>
				</p>
				<h1><b> Resume </b></h1>
				Find the latest version
				<a href="files/Dennis_Timmers_Resume.pdf">here</a>.
				</br>
				</br>
				<h1><b> Contact </b></h1>
				timmers <b>dot</b> dennis <b> at </b> gmail.com

			</div>
		</div>